{% extends 'base/base.html' %}


{% block header %}
    <h1>Ingrece los datos:</h1>
{% endblock header %}
    

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value='Guardar.'>
    </form>
{% endblock %}


{% block footer %}
    
{% endblock footer %}
    
