{% extends 'base/base.html' %}

{% block header %}
    <h1>Lista de Recursos:</h1>
{% endblock header %}
    

{% block content %}
<a class="btn btn-info" href="{% url 'bodega:recursoNuevo' %}">Nuevo Recurso.</a>
{% endblock %}


{% block footer %}
<table class="table table-borderless table-sm">
    <thead class="thead-light">
        <tr>
            <th>Categoria</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Serie</th>
            <th>Asignado a </th>
            <th>Asignar a otra Persona</th>
        </tr>
    </thead>

    <tbody>   
        {% if recursos %}
            {% for recurso in recursos %}
            <tr>
                <td>{{ recurso.categoria }}</td>
                <td>{{ recurso.codigo }}</td>
                <td>{{ recurso.nombre }}</td>
                <td>{{ recurso.marca }}</td>
                <td>{{ recurso.serie }}</td>
                <td>{{ recurso.persona }}</td>
                <td><a href="{% url 'bodega:recursoEdit' recurso.codigo %}">Ir.</a></td>
            </tr>          
            {% endfor %}
        {% else %}
            <tr><td class="text-center" colspan="7">No se encontraron Registros de Recurso.</td></tr>
        {% endif %}
    </tbody> 
</table>  
{% endblock footer %}