{% extends 'base/base.html' %}


{% block header %}
    <h1>Lista de Personas:</h1>
{% endblock header %}
    

{% block content %}
    <a class="btn btn-info" href="{% url 'bodega:personaNueva' %}">Nueva Persona.</a>
{% endblock %}


{% block footer %}
<table class="table table-borderless table-sm">
    <thead class="thead-light">
        <tr>
            <th>Identificacion</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Recursos</th>
        </tr>
    </thead>

    <tbody>   
        {% if personas %}
            {% for persona in personas %}
            <tr>
                <td>{{ persona.identificacion }}</td>
                <td>{{ persona.nombres }}</td>
                <td>{{ persona.apellidos }}</td>
                <td><a href="{% url 'bodega:listRecursoPersona' persona.identificacion %}">Ver.</a></td>
            </tr>          
            {% endfor %}
        {% else %}
            <tr><td class="text-center" colspan="7">No se encontraron Registros de Persona.</td></tr>
        {% endif %}
    </tbody> 
</table> 
{% endblock footer %}
    
